/* I dont actually know this much CSS, I just found an example online and tweaked it until I was happy */
.search_input {
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    width: fit-content;
    padding: 1rem;
    transition: transform 250ms ease-in-out;
    font-size: 1.5rem;
    line-height: .5rem;
    border-radius: 1rem;
    border: .25rem solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
.search_input::placeholder {
    color: rgba(87, 87, 86, 0.8);
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.search_input:hover, 
.search_input:focus {
    outline: 0;
    border: .25rem solid transparent;
    border-bottom: .25rem solid #575756;
    border-radius: 1rem 1rem 0 0;
    background-position: 100% center;
}
.search_container {
    justify-content: center;
    align-items: center;
}

.homepage {
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.homepage div {
    padding: 1rem;
}

.quote_container {
    overflow: auto;
    align-items: center;
}